[submodule "vicious"]
	path = vicious
	url = http://git.sysphere.org/vicious
[submodule "awesompd"]
	path = awesompd
	url = git://github.com/alexander-yakushev/awesompd
[submodule "lain"]
	path = lain
	url = https://github.com/copycat-killer/lain.git
